<div class="header">
  <div class="span10">
    <div class="row">
      <div class="span9 offset1">
        <center>
          <p class="text-center">
            Plan a vacation to 
          </p>
          <b>
            <p style="color:white" data-typer-targets="Silicon Valley,New York,Dallas,Chicago,Orlando,Los Angeles,Boston,Seattle,Las Vegas">New York
            </p>
          </b>
          <p>
            with just one click
          </p>
        </center>              
        <p class="text-center">
          <b id="location"></b> 
        </p>
      </div>
    </div>
  </div>  
</div>